.board-tile {
  height: 50px;
  width: 50px;
  background-color: grey;
}

.board-tile.x {
  background: green;
}

.board-tile.o {
  background: red;
}

body {
  background-image: url('stones.jpg');
  background-size: cover;
  font-family: 'Chakra Petch', sans-serif;
}
