.outer-paper {
  margin-top: 20px;
  margin: auto;
  padding: 20px;
  width: 60%;
}

.board-container {
  width: 450px;
  margin: 0 auto;

}

h1 {
  text-align: center;
  font-family: 'Chakra Petch', sans-serif;
}
