body {
  font-family: 'Chakra Petch', sans-serif;
}

h2 {
  margin-bottom: 16px;
  font-size: 14px;
}

.game-card {
  margin: 10px 10px 10px 0px;
  font-family: 'Chakra Petch', sans-serif;
}

.create-game {
  margin-top: 10px !important;
}

.outer-paper {
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  width: 60%;
  border: 10px dashed black;
  font-family: 'Chakra Petch', sans-serif;
}
