.outer-paper {
  margin-top: 20px;
  margin: auto;
  padding: 20px;
  width: 60%;
  font-family: 'Chakra Petch', sans-serif;
  border: 10px dashed black;
}

.board-container {
  width: 450px;
  margin: auto;
}

h1 {
  text-align: center;
  font-family: 'Chakra Petch', sans-serif;
}

p {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 1.5em;
  color: rgb(42, 60, 43);
  font-weight: 1000;
}

.title {
  font-family: 'Chakra Petch', sans-serif;
}