.login-form label {
  display: block;
  font-family: 'Chakra Petch', sans-serif;
}

.login-form {
  text-align: center;
  width: 20%;
  margin: auto;
  border: 10px dashed black;
}

body {
  font-family: 'Chakra Petch', sans-serif;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
}